@model List<Lab.MVC.Models.RegionView>

@{
    ViewBag.Title = "Region Page";
}

<h1>Regions List</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Description</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    
    <tbody>

    @foreach (var region in Model)
    {
        <tr>
            <th scope="row">@region.Id</th>
            <td>@region.Description</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = region.Id}, new { onclick = "return confirm('Está seguro de borrar')"})</td>
            <td>@Html.ActionLink("update", "Update", new { id = region.Id})</td>
        </tr>
    }

    </tbody>

</table>

<div>
    @Html.ActionLink("Insert new Region", "Insert")
</div>